.container {
    /*min-width: 320px;*/
    /*max-width: 600px;*/
    width: 320px;
    padding-top: 320px;
    margin: 60px auto;
    background-color: transparent;
    position: relative;
    user-select: none;
}

body {
    background-image: url("../resources/background.jpg");
}

h2 {
    font-family: "Bradley Hand";
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background-image: url("../resources/backgroud.jpg");*/
    font-family: "Bradley Hand";
}

.lineOne {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33.3%;
    width: 2px;
    background-color: black;
}

.lineTwo {
    position: absolute;
    top: 0;
    right: 33.3%;
    bottom: 0;
    width: 2px;
    background-color: black;
}

.lineThree {
    position: absolute;
    top: 33.3%;
    right: 0;
    left: 0;
    height: 2px;
    background-color: black;
}

.lineFour {
    position: absolute;
    right: 0;
    bottom: 33.3%;
    left: 0;
    height: 2px;
    background-color: black;
}

div.content a {
    width: 33%;
    height: 33%;
    /*text-align: center;*/
    background-color: transparent;
    vertical-align: top;
    font-family: "Bradley Hand";
    font-size: 40px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}