.container {
    min-width: 320px;
    width: 80%;
    padding-top: 80%;
    margin: 10%;
    background-color: darkgray;
    position: relative;
    user-select: none;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.content button {
    width: 33.3%;
    height: 33.3%;
    line-height: 100%;
    /*border: 1px double darkgray;*/
    text-align: center;
    background-color: white;
    vertical-align: bottom;
    /*background-color: aquamarine;*/
}