.container {
    /*min-width: 320px;*/
    /*max-width: 600px;*/
    width: 320px;
    padding-top: 320px;
    margin: 60px auto;
    background-color: darkgray;
    position: relative;
    user-select: none;
}

h2 {
    font-family: "Bradley Hand";
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../resources/backgroud.jpg");
    font-family: "Bradley Hand";
}

div.content button {
    width: 33.3%;
    height: 33.3%;
    line-height: 100%;
    /*border: 1px double darkgray;*/
    text-align: center;
    background-color: transparent;
    vertical-align: bottom;
    /*background-color: aquamarine;*/
    font-family: "Bradley Hand";
    font-size: 40px;
    display: inline-block;
}